- 2.times do
  %li.list-group-item.col-md-4
    .image-upload
      = f.fields_for :prototype_images do |image_form|
        = image_form.file_field :image
        = image_form.hidden_field :type, value: :sub
%li.list-group-item.col-md-4
  .image-upload-plus
    %span +
