- if current_user.errors.any?
  %div{ class: "alert alert-danger" }
    = link_to "x", "#", data:{ dismiss: "alert" }, class: "close"
    %ul
      %li
        = current_user.errors.count
          - current_user.errors.full_messages.each do |message|
          = message
