- if var.errors.any?
  %div{ class: "alert alert-danger" }
    = link_to "x", "#", data:{ dismiss: "alert" }, class: "close"
    %ul
      %li
        = var.errors.count
          - var.errors.full_messages.each do |message|
          = message
